@page
@model Projeto2_NIF_Web_Razor.Pages.NIF_Empresa.CreateModel
@{
}

<h2>New Company</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">NIF</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="NIF" value="@Model.companyInfo.NIF">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.companyInfo.Name">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="address" value="@Model.companyInfo.Address">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">PC4</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="pc4" value="@Model.companyInfo.PC4">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">PC3</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="pc3" value="@Model.companyInfo.PC3">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Region</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="region" value="@Model.companyInfo.Region">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">County</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="county" value="@Model.companyInfo.County">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Parish</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="parish" value="@Model.companyInfo.Parish">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" name="email" value="@Model.companyInfo.Email">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Phone</label>
        <div class="col-sm-6">
            <input type="tel" class="form-control" name="phone" value="@Model.companyInfo.Phone">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Website</label>
        <div class="col-sm-6">
            <input type="url" class="form-control" name="website" value="@Model.companyInfo.Website">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Fax</label>
        <div class="col-sm-6">
            <input type="tel" class="form-control" name="fax" value="@Model.companyInfo.Fax">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Imagem_URL</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="imagem_url" value="@Model.companyInfo.Imagem_URL">
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@Model.successMessage</strong>
            <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>